<!doctype html>
<html>
<head>
    <style>
    body {
        width: 90%;
    }

    audio {
        visibility: hidden;
    }

    button {
        outline: none;
        background: #3498db;
        background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
        background-image: -moz-linear-gradient(top, #3498db, #2980b9);
        background-image: -ms-linear-gradient(top, #3498db, #2980b9);
        background-image: -o-linear-gradient(top, #3498db, #2980b9);
        background-image: linear-gradient(to bottom, #3498db, #2980b9);
        -webkit-border-radius: 7;
        -moz-border-radius: 7;
        border-radius: 7px;
        border-style: hidden;
        text-shadow: 1px 1px 1px #666666;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 5px 10px;
        text-decoration: none;
        margin-bottom: 5px;
        margin-right: 0px;
    }

    button:hover {
        background: #3cb0fd;
        text-decoration: none;
    }

    button::-moz-focus-inner,
    input[type="button"]::-moz-focus-inner,
    input[type="submit"]::-moz-focus-inner {
        border: 1px dotted transparent;
    }

    .categoria {
        display: inline-block;
        margin-left: 1em;
    }
    </style>
    <title>La huayrabotonera!</title>
    <link rel="icon" type="image/png" href="vaca-botona.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-control" content="public">
</head>

<body>
    <h1>Botonera de la Pesada Herencia</h1>
    <div id="botonera">
    {{#each categorias}}
        <div id="{{nombre}}" class="categoria">
            <h3>{{nombre}}</h3>
            <div class="sonidos" id="sonidos-{{nombre}}">
        {{#each archivos}}
            <audio id="{{archivo}}" src="{{archivo}}" preload="true">Tu navegador no soporta el elemento <code>audio</code>.</audio>
            <button onclick="document.getElementById('{{archivo}}').play();">{{nombre}}</button>
        {{/each}}
            </div>
        </div>
    {{/each}}
    </div>
    <a href="https://github.com/iglosiggio/botonera">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" />
    </a>
</body>
